%title Rock Paper scissors
%h1{class: "title center"} Rock Paper Scissors
%p{class: "center"}
	Welcome to my website where you can play the classic game Rock Paper scissors. Click below to get started!



%form{action:"/new-game", method:"get"}
	%button{class: "button"} New Game!