- if @player
	%h1= "Welcome #{@player}"
	%h2 Pick carefully.

%form{action:"/play", method:"POST"}
	%input{type:"image", src: "../images/paper.jpg", name:"pick", value:"Paper"}
	%input{type:"image", src: "../images/rock.jpg", name:"pick", value:"Rock"}
	%input{type:"image", src: "../images/scissors.jpg", name:"pick", value:"Scissors"}
	%input{type:"hidden", name:"name", value:"#{@name}"}