- if @player
	%h1= "Welcome #{@player}"

%form{action:"/play", method:"POST"}
	%button{name:"pick", value:"Paper"} Paper
	%button{name:"pick", value:"Rock"} Rock
	%button{name:"pick", value:"Scissors"} Scissors
	%input{type:"hidden", name:"name", value:"#{@name}"}